#projects h2{
    animation: flux 3s ease-in-out infinite alternate;
    font-family: neon ;
    padding: 50px 0;
}
#projects {
    min-height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 150px 0;
    font-family: poppins;
}

.lumos img{
    width: 100%;
    height:400px;
    object-fit: cover;
    border: 11px  rgb(77, 185, 4) solid;
}

.lumos img:hover{
    border: transparent solid 20px;
    transform: scale(1.1);
    transition: 1s;
}
.lumos{
    width: 700px;
    overflow: hidden;
}
.lumos p{
    background-color: rgb(77, 185, 4);
    color: rgb(43, 37, 37);
    padding: 10px 0;
    margin: 0;
    font-weight: 600;
}
.lumos small{
    background-color: rgb(77, 185, 4);
    margin: 0;
    display: block;
}
.arrow{
    padding-top: 50px;
}
.tools{
    width: 700px;
    overflow: hidden;
}

.tools h4{
    animation: neon 3s ease-in-out infinite alternate;
    font-family: neon ;
    padding-top: 20px;
}