#skills-container {
  min-height: 600px;
  text-align: center;
  font-family: Poppins;
}

.skills .row {
  justify-content: center;
}
.skill-item {
  padding: 10px;
}

#skills-container h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: neon;
  margin: 40px 0;
  padding: 10px 0;
  animation: neon 3s ease-in-out infinite alternate;
}

#skills-container img {
  /* background-color: rgba(17, 142, 226, 0.418); */
  background-color: rgba(17, 142, 226, 0.541);
  height: 150px;
  width: 150px;
  border-radius: 90%;
  padding: 10px;
  margin: 10px;
  object-fit: cover;
}
#skills-container img:hover {
  transform: scale(1.2) rotate(360deg);
  transition: 700ms;
  border-radius: 100%;
  background-color: rgb(17, 142, 226);
}

.progress {
  height: 3em;
  font-size: 15px;
  color: black;
  cursor:default;
}
.progress-bar {
  width: 70%;
  height: 100%;
  color: black;
  font-weight: bold;
  overflow: visible;
}
.basico {
  width: 40%;
}

.skill-item h4{
  color: rgb(250, 108, 42);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.skill-item p{
  color: white;
}
