:root {
  --fondo: #0a0e1a;
  --rojo: #51f7f7;
}


.presentacion {
  min-height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.title {
  text-transform: uppercase;
  font-family: neon;
  font-size: 90px;
  animation: neon 2s ease infinite;
}

.subtitle {
  font-family: neon;
  font-size: 60px;
  animation: flux 2s linear infinite;
}

.arrow {
  font-family: neon;
  font-size: 60px;
  animation: flux 2s linear infinite; 
  cursor: pointer;
}

video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
}
.capa{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: darkslategrey;
  opacity:0.5;
  mix-blend-mode: overlay;

}