nav ul {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    position:absolute;
    width:100%;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.267);

}
li{
    list-style: none;
}

li a{
    font-family: neon;
    animation: neon 6s ease-in-out infinite alternate;
}
li a:hover{
    animation: flux 3s ease-in-out infinite alternate;
}