:root {
  --fondo: #0a0e1a;
  --celeste: #47b6f7;
}

#about-me {
  background-color: var(--fondo);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1% 0;
  font-family: Poppins;
}

#about-me h2 {
  color: rgb(157, 189, 218);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: neon;
  animation: flux 3s ease-in-out infinite alternate;
}

.about-text {
  background-color: rgba(255, 255, 255, 0.753);
  width: 700px;
  border-radius: 60px;
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  display: inline-block;
  border: 2px rgb(0, 153, 255) solid;
  box-shadow: 0px 0px 4px 2px var(--celeste);
}

.myPic img {
  height: 240px;
  width: 240px;
  border-radius: 20px;
  object-fit: cover;
  text-align: center;
  margin: 10px 0 10px 0;
}

.myData {
  text-align: left;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}
.myData i{
  color: rgb(0, 162, 255);
  font-size:20px;
  padding: 0 5px 0 0;
}
.contacto-logo{
  text-align:center;
}
.contacto-logo img{
  height: 50px;
  margin:0 10px;
}

.contacto-logo img:hover{
  transform: scale(1.1);
  transition: 500ms;
  border-radius: 100%;
  background-color: rgb(0, 162, 255);
  cursor: pointer;
}
